@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Condensed:ital,wght@0,300;1,300&family=Water+Brush&display=swap');
$font-family: "Poppins", sans-serif;
$accent-color: #43AA8B;
$active-color: #FAA613;
$secondary-color: #ED254E;
$dark-color: #1E1E24;
$medium-gray: #afadad;
$light-gray: #e6e4e4;
$white: #f4fffd;
$error-color: #ED254E;
a {
    color: $accent-color;
    text-decoration: none;
    transition: .3s;
    &:hover{
        color: $active-color;
    }
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.page-title {
    border-bottom: 1px solid $medium_gray;
    padding-bottom: 15px;
    h3 {
        font-size: 30px;
    }
}
i {
    cursor: pointer;
    transition: .3s;
    &:hover {
        filter: opacity(.8);     
    }
}
